*{
    padding: 0px;
    margin: 0px;
    /* border: 1px solid red; */
}
.spate{
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5D3B3;
   
}
.card{
    background-color: #987554;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;;
    /* margin: 20px; */
    height: 90vh;
    width: 90vw;
    border-radius: 20px;
    
}
.card h1{
    font-family: 'Lilita One', cursive;
    color: white;
    text-align: center;
    font-size: 50px;
}

.prezentare{
    /* padding-top: 100px; */
    /* display: none; */
}

.prezentare h1{
    margin-top: 130px;
}
.prezentare img{
    width: 200px;
    border-radius: 300px;
    margin-top: 30px;
}
.butoane{
    display: flex;
    justify-content: space-between;
    font-family: 'Lilita One', cursive;
    margin-top: 50px;
    /* width: 90vw; */
    /* padding: 30px; */
}
.butoane div{
    font-family: 'Lilita One', cursive;
    font-size: 30px;
    color: #987554;
    margin: 50px;
    padding: 20px 30px;
    background-color: #E5D3B3;
    border-radius: 20px;

}
.rezultat{
    display: none;
}
.rezultat h1{
    margin-top: 130px;
}
.rezultat img{
    width: 200px;
    margin-top: 30px;
}